<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerBlock">

	<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>


<title>Dona Regina :: De tudo tem</title>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="css/util.css">

	</head>

</th:block>
<body>

	<th:block th:fragment="navBar">

		<nav class="navbar navbar-expand-sm   navbar-light bg-warning">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="nav-link" href="/">Venda de
							Dona Regina <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item dropdown dmenu"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"> Cadastro </a>
						<div class="dropdown-menu sm-menu">
							<a class="dropdown-item" href="/listarCategorias">Categoria</a> <a
								class="dropdown-item" href="/listarProdutos">Produtos</a> <a
								class="dropdown-item" href="/listarClientes">Cliente</a>
						</div></li>
					<li class="nav-item dropdown dmenu"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"> Vendas </a>
						<div class="dropdown-menu sm-menu">
							<a class="dropdown-item" href="/exibirProdutosVenda">Pesquisar
								Produtos</a> <a class="dropdown-item" href="#">Vendas realizadas</a>
							<a class="dropdown-item" href="#">Encerrar Conta</a>
						</div></li>

				</ul>
				<div class="social-part">
					<i class="fa fa-facebook" aria-hidden="true"></i> <i
						class="fa fa-twitter" aria-hidden="true"></i> <i
						class="fa fa-instagram" aria-hidden="true"></i>
				</div>
			</div>
		</nav>

	</th:block>

</body>
</html>