<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Contatos</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/exibirContato">Cadastrar Contatos</a></li>
    <li><a href="/listarContatos">Listar Contatos</a></li>
  </ul>
</nav>
</body>
</html>