
.img_prod {
	height: 50px;
	width: 50px;
}

.img_prod:hover {
  -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -o-transform: scale(4);
  -ms-transform: scale(4);
  transform: scale(4);
}
.img_prod_maior{
	height: 200px;
	width: 200px;
}